@import url("https://use.typekit.net/acb7zqp.css");
/* @media */

/* global */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #e5e5e5;
    font-family: "Source Code Pro", monospace, Helvetica, sans-serif;
    overflow-x: hidden;
}

/* classes */

.v-header {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    color: #fff;
}

.container {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.name-title {
    margin: auto;
    width: auto;
    height: auto;
    text-align: center;
    margin-top: 35vh;
    font-size: 7rem;
    font-family: 'Source Code Pro', monospace, Helvetica, sans-serif;
    position: relative;
    color: #333;
    z-index: 2;
    mix-blend-mode: multiply;
}

.header-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: 1;
    opacity: .2;
    mix-blend-mode: add;
}

.bkg-img-container {
    height: 50vh;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 1000;
}

.bkg-img-blend {
    filter: blur(5px);
    width: 100%;
    position: absolute;
    background: #1f6dd3;
    height: 50vh;
    mix-blend-mode: screen;
    filter: opacity(30%);
    z-index: 1;
}

.bkg-img {
    filter: blur(5px);
    opacity: 0%;
    height: 50vh;
    transform: translateZ(-0px) scale(1.13);
    background-image: url(./../assets/img/background-code-image.png);
    background-size: cover;
    background-attachment: fixed;
}

.main-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-text__items {
    width: 50%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.main-text__img-ctn {
    width: 50%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* perspective: 1px; */
}

.main-text__item1 {
    background: #f28b2b;
}

.main-text__item2 {
    background: url(./../assets/img/trophy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 100% -200px;
    background-size: 50%;
    z-index: -999999;
    min-width: 100%;
    min-height: 100%;
}

.main-text__items>p {
    font-size: 3vh;
    align-self: center;
}

/* individual */

.fullscreen-video-wrap video {
    min-width: 100%;
    min-height: 100%;
}

.button-bar {
    background: #eee;
    color: #fff;
    margin-top: 35vh;
    font-size: 0;
    padding: .1rem 2rem;
    z-index: 4;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    bottom: .6rem;
    border-radius: 100px;
    transition: .25s ease-in background-color, .25s ease-out padding, .25s;
    cursor: pointer;
}

.button-bar::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    bottom: -1rem;
    border-radius: 100px;
    padding: 2rem 4rem;
    z-index: -99;
}

.button-bar:focus {
    outline: none;
}

.button-bar:hover {
    padding: .1rem 3rem;
    color: #fff;
}

.jsscrollmargin {
    margin-bottom: 11px;
}

/* media */

@media(max-aspect-ratio: 10/7) {
    .container {
        padding-right: 3rem;
        padding-left: 3rem;
    }
    .main-text__items>p {
        font-size: 1.8vh;
        align-self: center;
    }

    .main-text__img-ctn {
        width: 50%;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        /* perspective: 1px; */
    }

    .main-text__item2 {
        background: url(/../assets/img/trophy.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 25em 127%;
        background-size: 100%;
        z-index: -999999;
        min-width: 100%;
        min-height: 100%;
    }

    .button-bar {
        background: #eee;
        color: #fff;
        margin-top: 35vh;
        font-size: 0;
        padding: .5rem 9rem;
        z-index: 4;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
        bottom: .6rem;
        border-radius: 100px;
        transition: .25s ease-in background-color, .25s ease-out padding, .25s;
        cursor: pointer;
    }

    .button-bar::before {
        padding: 100rem 30rem;
    }

    .button-bar:hover {
        padding: .5rem 15rem;
        color: #fff;
    }
}